<!DOCTYPE html>
<html>
<head>


</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
{{>header}}
<p> Weather Information is here</p>

<form >
  <input type="text" id="location" name="location">
  <button>submit</button>
</form>

<p id="message-01"></p>
<p id="message-02"></p>
     

<script src="/js/weather.js"></script>     
</body>


</html>