<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<body>

<div class="header"> 
    <tr>
        <td>
            <a class="nav-link" href="">Home</a>
        </td>
        <td>
            <a class="nav-link" href="/help">Help</a>
        </td>
        <td>
            <a class="nav-link" href="/api">API</a>
        </td>
        <td>
            <a class="nav-link" href="/about">About</a>
        </td>
    </tr>

</div>

     
</body>

</head>


</html>


